section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}
.image-padding {
  padding: 20px 40px;
}
.image-border {
  border:10px solid blue
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
}
.image-padding {
  padding: 20px;
  background-color: lightskyblue;
}
.image-border {
  border: 10px solid darkblue;
}
.image-margin {
  margin:10px
}